{% extends "base_layout_4.html" %}

{% block title %}{{ title }} | {{ _('Leads Scraping System') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ _('Leads Scraping System') }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
