{% load i18n staticfiles %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% block title %}{% endblock %}</title>

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<meta content="" name="description"/>
<meta content="" name="author"/>

<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" %}" rel="stylesheet" type="text/css" />
<link href="{% static "assets/global/plugins/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css" />
<link href="{% static "assets/global/plugins/simple-line-icons/simple-line-icons.min.css" %}" rel="stylesheet" type="text/css" />
<link href="{% static "assets/global/plugins/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css" />
<link href="{% static "assets/global/plugins/uniform/css/uniform.default.css" %}" rel="stylesheet" type="text/css" />
<link href="{% static "assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" %}" rel="stylesheet" type="text/css" />
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<link href="{% static "assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css" %}" rel="stylesheet" type="text/css" />
<link href="{% static "assets/global/plugins/morris/morris.css" %}" rel="stylesheet" type="text/css" />
<link href="{% static "assets/global/plugins/fullcalendar/fullcalendar.min.css" %}" rel="stylesheet" type="text/css" />
<link href="{% static "assets/global/plugins/jqvmap/jqvmap/jqvmap.css" %}" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN THEME GLOBAL STYLES -->
<link href="{% static "assets/global/css/components.min.css" %}" rel="stylesheet" id="style_components" type="text/css" />
<link href="{% static "assets/global/css/plugins.min.css" %}" rel="stylesheet" type="text/css" />
<!-- END THEME GLOBAL STYLES -->
<!-- BEGIN THEME LAYOUT STYLES -->
<link href="{% static "assets/layouts/layout3/css/layout.min.css" %}" rel="stylesheet" type="text/css" />
<link href="{% static "assets/layouts/layout3/css/themes/default.min.css" %}" rel="stylesheet" type="text/css" id="style_color" />
<link href="{% static "assets/layouts/layout3/css/custom.min.css" %}" rel="stylesheet" type="text/css" />
<!-- END THEME LAYOUT STYLES -->

{% block extrastyle %}{% endblock %}

</head>
{% load i18n %}

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}"
  data-admin-utc-offset="{% now "Z" %}">

<!-- Container -->
<div id="container">

    {% block site_header %}
    <!-- BEGIN HEADER -->
    <div class="page-header">
        <!-- BEGIN HEADER TOP -->
        <div class="page-header-top">
            <div class="container">
                <!-- BEGIN LOGO -->
                <div class="page-logo">
                    <a href="index.html">
                        <img src="{% static "assets/layouts/layout3/img/logo-default.jpg" %}" alt="logo" class="logo-default">
                    </a>
                </div>
                <!-- END LOGO -->
                <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                <a href="javascript:;" class="menu-toggler"></a>
                <!-- END RESPONSIVE MENU TOGGLER -->
                <!-- BEGIN TOP NAVIGATION MENU -->
                <div class="top-menu">
                    <ul class="nav navbar-nav pull-right">
                        <!-- BEGIN USER LOGIN DROPDOWN -->
                        <li class="dropdown dropdown-user dropdown-dark">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <img alt="" class="img-circle" src="{% static "assets/layouts/layout3/img/avatar.png" %}">
                                <span class="username username-hide-mobile">{{ request.user.first_name|default:request.user.username }}</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-default">
                                <li>
                                    <a href="page_user_profile_1.html">
                                        <i class="icon-user"></i> My Profile </a>
                                </li>
                                <li class="divider"> </li>
                                <li>
                                    <a href="/logout/">
                                        <i class="icon-key"></i> Log Out </a>
                                </li>
                            </ul>
                        </li>
                        <!-- END USER LOGIN DROPDOWN -->
                    </ul>
                </div>
                <!-- END TOP NAVIGATION MENU -->
            </div>
        </div>
        <!-- END HEADER TOP -->
        <!-- BEGIN HEADER MENU -->
        <div class="page-header-menu">
            <div class="container">
                <!-- BEGIN HEADER SEARCH BOX -->
                <form class="search-form" action="page_general_search.html" method="GET">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search" name="query">
                        <span class="input-group-btn">
                            <a href="javascript:;" class="btn submit">
                                <i class="icon-magnifier"></i>
                            </a>
                        </span>
                    </div>
                </form>
                <!-- END HEADER SEARCH BOX -->
                <!-- BEGIN MEGA MENU -->
                <!-- DOC: Apply "hor-menu-light" class after the "hor-menu" class below to have a horizontal menu with white background -->
                <!-- DOC: Remove data-hover="dropdown" and data-close-others="true" attributes below to disable the dropdown opening on mouse hover -->
                <div class="hor-menu  ">
                    <ul class="nav navbar-nav">
                        <li class="menu-dropdown classic-menu-dropdown active">
                            <a href="/"> Dashboard
                                <span class="arrow"></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- END MEGA MENU -->
            </div>
        </div>
        <!-- END HEADER MENU -->
    </div>
    <!-- END HEADER -->
    {% endblock %}

    {% block messages %}
        {% if messages %}
        <ul class="messagelist">
            {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endblock messages %}

    <!-- Content -->
    <div class="page-container">
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <div class="page-content">
                <div class="container">
                    {% block pretitle %}{% endblock %}
                    {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
                    {% block content %}
                        {% block object-tools %}{% endblock %}
                        {{ content }}
                    {% endblock %}
                    <br class="clear" />
                </div>
            </div>
        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END Content -->

    {% block footer %}<div id="footer"></div>{% endblock %}
</div>
<!-- END Container -->

<!--[if lt IE 9]>
<script src="{% static "assets/global/plugins/respond.min.js" %}"></script>
<script src="{% static "assets/global/plugins/excanvas.min.js" %}"></script>
<![endif]-->

<!-- BEGIN CORE PLUGINS -->
<script src="{% static "assets/global/plugins/jquery.min.js" type="text/javascript" %}"></script>
<script src="{% static "assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript" %}"></script>
<script src="{% static "assets/global/plugins/js.cookie.min.js" type="text/javascript" %}"></script>
<script src="{% static "assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript" %}"></script>
<script src="{% static "assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript" %}"></script>
<script src="{% static "assets/global/plugins/jquery.blockui.min.js" type="text/javascript" %}"></script>
<script src="{% static "assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript" %}"></script>
<script src="{% static "assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript" %}"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="{% static "assets/global/plugins/moment.min.js" type="text/javascript" %}"></script>
<script src="{% static "assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js" type="text/javascript" %}"></script>
<script src="{% static "assets/global/plugins/morris/morris.min.js" type="text/javascript" %}"></script>
<script src="{% static "assets/global/plugins/morris/raphael-min.js" type="text/javascript" %}"></script>
<script src="{% static "assets/global/plugins/counterup/jquery.waypoints.min.js" type="text/javascript" %}"></script>
<script src="{% static "assets/global/plugins/counterup/jquery.counterup.min.js" type="text/javascript" %}"></script>
<script src="{% static "assets/global/plugins/fullcalendar/fullcalendar.min.js" type="text/javascript" %}"></script>
<script src="{% static "assets/global/plugins/flot/jquery.flot.min.js" type="text/javascript" %}"></script>
<script src="{% static "assets/global/plugins/flot/jquery.flot.resize.min.js" type="text/javascript" %}"></script>
<script src="{% static "assets/global/plugins/flot/jquery.flot.categories.min.js" type="text/javascript" %}"></script>
<script src="{% static "assets/global/plugins/jquery-easypiechart/jquery.easypiechart.min.js" type="text/javascript" %}"></script>
<script src="{% static "assets/global/plugins/jquery.sparkline.min.js" type="text/javascript" %}"></script>
<script src="{% static "assets/global/plugins/jqvmap/jqvmap/jquery.vmap.js" type="text/javascript" %}"></script>
<script src="{% static "assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.russia.js" type="text/javascript" %}"></script>
<script src="{% static "assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.world.js" type="text/javascript" %}"></script>
<script src="{% static "assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.europe.js" type="text/javascript" %}"></script>
<script src="{% static "assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.germany.js" type="text/javascript" %}"></script>
<script src="{% static "assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.usa.js" type="text/javascript" %}"></script>
<script src="{% static "assets/global/plugins/jqvmap/jqvmap/data/jquery.vmap.sampledata.js" type="text/javascript" %}"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN THEME GLOBAL SCRIPTS -->
<script src="{% static "assets/global/scripts/app.min.js" type="text/javascript" %}"></script>
<!-- END THEME GLOBAL SCRIPTS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="{% static "assets/pages/scripts/dashboard.min.js" type="text/javascript" %}"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<!-- BEGIN THEME LAYOUT SCRIPTS -->
<script src="{% static "assets/layouts/layout3/scripts/layout.min.js" type="text/javascript" %}"></script>
<script src="{% static "assets/layouts/layout3/scripts/demo.min.js" type="text/javascript" %}"></script>
<script src="{% static "assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript" %}"></script>
<!-- END THEME LAYOUT SCRIPTS -->
</body>
</html>
