{% extends "base_site.html" %}
{% load i18n staticfiles %}

{% block extrastyle %}{{ block.super }}{% endblock %}

{% block page_level_plugin_css %}
{{ block.super }}
<link href="{% static "assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css" %}" rel="stylesheet" type="text/css" />
<link href="{% static "assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" %}" rel="stylesheet" type="text/css" />
<link href="{% static "assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" %}" rel="stylesheet" type="text/css" />
<link href="{% static "assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" %}" rel="stylesheet" type="text/css" />
<link href="{% static "assets/global/plugins/clockface/css/clockface.css" rel="stylesheet" %}" type="text/css" />
{% endblock %}

{% block bodyclass %}{{ block.super }} page-container-bg-solid page-header-fixed page-sidebar-closed-hide-logo{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content" style="min-height:1155px">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>{{ title }}
                    <small>{{ sub_title }}</small>
                </h1>
            </div>
            <!-- END PAGE TITLE -->
        </div>
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE BREADCRUMBS -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="/">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>{% trans "User Lists" %}</span>
            </li>
        </ul>
        <!-- END PAGE BREADCRUMBS -->
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN Portlet PORTLET-->
                <div class="portlet box red">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-gift"></i>Filter By </div>
                        <div class="tools">
                            <a href="javascript:;" class="expand"> </a>
                        </div>
                    </div>
                    <div class="portlet-body portlet-collapsed">
                        <form action="/user/lists/" class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="col-md-2 control-label">Keywords</label>
                                <div class="col-md-4">
                                    <input type="text" name="keywords" class="form-control" placeholder="Search keywords">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Join Date</label>
                                <div class="col-md-4">
                                    <input type="text" name="j_date" class="form-control form-control-inline input-medium date-picker" placeholder="Pick the date">
                                </div>
                            </div>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-offset-1 col-md-3">
                                        <button type="submit" class="btn green">Filter</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- END Portlet PORTLET-->
                <!-- BEGIN SAMPLE TABLE PORTLET-->
                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-cogs"></i> {% trans "User Lists" %} </div>
                        <div class="actions">
                            <a href="/user/create/" class="btn btn-default btn-sm">
                                <i class="fa fa-pencil"></i> {% trans "Add New User" %} </a></div>
                    </div>
                    <div class="portlet-body flip-scroll">
                        <table class="table table-bordered table-striped table-condensed flip-content">
                            <thead class="flip-content">
                                <tr>
                                    <th class="text-center" width="3%"> No </th>
                                    <th> First Name </th>
                                    <th> Last Name </th>
                                    <th> Username </th>
                                    <th> Email </th>
                                    <th> Date Joined </th>
                                    <th class="text-center" width="5%"> Active [?] </th>
                                    <th class="text-center" width="5%"> Trial [?] </th>
                                    <th class="text-center" width="10%"> </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in users %}
                                <tr>
                                    <td class="text-center"> {{ initial_number|add:forloop.counter0 }} </td>
                                    <td> {{ user.first_name }} </td>
                                    <td> {{ user.last_name }} </td>
                                    <td> {{ user.username }} </td>
                                    <td> {{ user.email }} </td>
                                    <td> {{ user.date_joined|date:"d M Y" }} </td>
                                    <td class="text-center"> {{ user.is_active }} </td>
                                    <td class="text-center"> {{ user.is_trial }} </td>
                                    <td class="text-center">
                                        <div class="btn-group-sm btn-group">
                                            <button class="btn blue dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false"> {% trans "Action" %}
                                                <i class="fa fa-angle-down"></i>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li>
                                                    <a href="/user/edit/{{ user.id }}/"><i class="fa fa-pencil"></i> {% trans "Edit" %} </a>
                                                </li>
                                                <li>
                                                    <a href="/user/edit/{{ user.id }}/"><i class="fa fa-pencil"></i> {% trans "Credit Usages" %} </a>
                                                </li>
                                                <li>
													<form action="/user/delete/{{ user.id }}/" class="delete_user" method="post">{% csrf_token %}
	                                                    <button type="submit" class="btn btn-link text-danger"><i class="fa fa-trash-o"></i> {% trans "Delete" %} </button>
													</form>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- END SAMPLE TABLE PORTLET-->

				{% if is_paginated %}
				<div class="row" style="text-align: center">
					<!--<div class="container">-->
						<nav>
							<ul class="pagination">
								{% if page_obj.has_previous %}
									<li>
										<a href="?page={{ page_obj.previous_page_number }}">
											<span>Previous</span>
										</a>
									</li>
								{% else %}
									<li class="disabled">
										<a href="#">
											<span>Previous</span>
										</a>
									</li>
								{% endif %}

								{% for page in paginator.page_range %}
									<li {% if page == page_obj.number %}class="active"{% endif %}>
										<a href="?page={{ page }}">{{ page }}</a>
									</li>
								{% endfor %}

								{% if page_obj.has_next %}
									<li>
										<a href="?page={{ page_obj.next_page_number }}">
											<span>Next</span>
										</a>
									</li>
								{% else %}
									<li {% if not page_obj.has_next %}class="disabled"{% endif %}>
										<a href="#">
											<span>Next</span>
										</a>
									</li>
								{% endif %}
							</ul>
						</nav>
					<!--</div>-->
                </div>
				{% endif %}
            </div>
        </div>
        <!-- END PAGE BASE CONTENT -->
    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->
{% endblock %}

{% block page_level_plugin_script %}
{{ block.super }}
<script src="{% static "assets/global/plugins/moment.min.js" %}" type="text/javascript"></script>
<script src="{% static "assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js" %}" type="text/javascript"></script>
<script src="{% static "assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" %}" type="text/javascript"></script>
<script src="{% static "assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js" %}" type="text/javascript"></script>
<script src="{% static "assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js" %}" type="text/javascript"></script>
<script src="{% static "assets/global/plugins/clockface/js/clockface.js" %}" type="text/javascript"></script>
<script src="{% static "assets/global/plugins/bootbox/bootbox.min.js" %}" type="text/javascript"></script>
{% endblock %}

{% block page_level_script %}
{{ block.super }}
<script src="{% static "assets/pages/scripts/components-date-time-pickers.min.js" %}" type="text/javascript"></script>
<script src="{% static "assets/pages/scripts/ui-bootbox.js" %}" type="text/javascript"></script>
{% endblock %}
