{% extends "base_site.html" %}
{% load i18n staticfiles %}

{% block extrastyle %}{{ block.super }}{% endblock %}

{% block page_level_plugin_css %}
{{ block.super }}
<link href="{% static "assets/global/plugins/select2/css/select2.min.css" %}" rel="stylesheet" type="text/css" />
<link href="{% static "assets/global/plugins/select2/css/select2-bootstrap.min.css" %}" rel="stylesheet" type="text/css" />
<link href="{% static "assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" %}" rel="stylesheet" type="text/css" />
<link href="{% static "assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css" %}" rel="stylesheet" type="text/css" />
<link href="{% static "assets/global/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css" %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block bodyclass %}{{ block.super }} page-container-bg-solid page-header-fixed page-sidebar-closed-hide-logo{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>{{ title }}
                    <small>{{ sub_title }}</small>
                </h1>
            </div>
            <!-- END PAGE TITLE -->
        </div>
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE BREADCRUMB -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="/">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a href="/user/lists/">User Lists</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span class="active">Add/Remove User Credits</span>
            </li>
        </ul>
        <!-- END PAGE BREADCRUMB -->
        <!-- BEGIN PAGE BASE CONTENT -->

        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN VALIDATION STATES-->
                <div class="portlet light portlet-fit portlet-form bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-settings font-red"></i>
                            <span class="caption-subject font-red sbold uppercase">{{ sub_title }}</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <!-- BEGIN FORM-->
                        <form action="{{ action }}" method="post" id="form_add_remove_credit" class="form-horizontal">
                            {% csrf_token %}
                            <div class="form-body">
                                <div class="alert alert-danger display-hide">
                                    <button class="close" data-close="alert"></button> You have some form errors. Please check below. </div>
                                <div class="alert alert-success display-hide">
                                    <button class="close" data-close="alert"></button> Your form validation is successful! </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Credit Amount
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-4">
                                        <input type="number" step="1" name="credit_amount" data-required="1" class="form-control" value="" /> </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Description
                                    </label>
                                    <div class="col-md-4">
                                        <textarea name="description" class="form-control"></textarea> </div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-9">
                                        <button type="submit" class="btn green">{{ btn_submit_text }}</button>
                                        <a href="/user/lists/" class="btn grey-salsa btn-outline">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- END FORM-->
                    </div>
                </div>
                <!-- END VALIDATION STATES-->
            </div>
        </div>

        <!-- END PAGE BASE CONTENT -->
    </div>
    <!-- END CONTENT BODY -->
</div>
{% endblock %}

{% block page_level_plugin_script %}
{{ block.super }}
<script src="{% static "assets/global/plugins/select2/js/select2.full.min.js" %}" type="text/javascript"></script>
<script src="{% static "assets/global/plugins/jquery-validation/js/jquery.validate.min.js" %}" type="text/javascript"></script>
<script src="{% static "assets/global/plugins/jquery-validation/js/additional-methods.min.js" %}" type="text/javascript"></script>
<script src="{% static "assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" %}" type="text/javascript"></script>
<script src="{% static "assets/global/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js" %}" type="text/javascript"></script>
<script src="{% static "assets/global/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js" %}" type="text/javascript"></script>
<script src="{% static "assets/global/plugins/ckeditor/ckeditor.js" %}" type="text/javascript"></script>
<script src="{% static "assets/global/plugins/bootstrap-markdown/lib/markdown.js" %}" type="text/javascript"></script>
<script src="{% static "assets/global/plugins/bootstrap-markdown/js/bootstrap-markdown.js" %}" type="text/javascript"></script>
{% endblock %}

{% block page_level_script %}
{{ block.super }}
<script src="{% static "assets/pages/scripts/form-validation.js" %}" type="text/javascript"></script>
{% endblock %}
